<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>sparkzxl登录平台</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" th:href="@{/images/logo.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body>
<input type="hidden" id="contextPath" name="contextPath" th:value="${#request.getContextPath()}">
<div class="login-main">
    <div class="layui-card login-card">
        <div class="layui-card-body">
            <div class="login-title">
                <img width="40px" th:src="@{/images/logo.png}"/> sparkzxl登录平台
            </div>
            <div class="login-form">
                <form action="/authentication/form" method="post" class="layui-form">
                    <div class="layui-form-item login-item">
                        <div class="layui-inline">

                            <div class="layui-input-inline">
                                <input type="text" id="tenantCode" name="tenantCode" class="layui-input login-input"
                                       placeholder="租户编码">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item login-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="username" class="layui-input login-input" lay-verify="required"
                                       placeholder="账户/手机号">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item login-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="password" id="password" name="password" class="layui-input login-input"
                                       lay-verify="required" placeholder="密码">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item login-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="hidden" id="captchaKey" name="captchaKey">
                                <input type="text" id="captchaCode" name="captchaCode" class="layui-input"
                                       style="width: 145px;background-color: #F7F7F7"
                                       lay-verify="required" placeholder="验证码">
                            </div>
                        </div>
                    </div>
                    <div class="login-form-line-img">
                        <img id="captchaImg" onclick="refreshCaptcha();"/>
                    </div>
                    <div class="login-button">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="login" type="submit">登录
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/loadingAjax.js}"></script>
<script>
    const contextPath = $("#contextPath").val();
    const url = contextPath + '/oauth/captcha?type=arithmetic';
    var form;
    layui.use('form', function () {
        form = layui.form;
        refreshCaptcha();
        form.on('submit(login)', function (data) {
            // 校验租户信息
            const url = contextPath + '/oauth/checkTenant';
            const param = 'tenantCode=' + data.field.tenantCode;
            const responseData = loadingAjaxJsonData('get', url, param);
            if (responseData.code !== 200) {
                layer.alert('租户不存在，请重新输入！', {icon: 5});
                return false;
            }
            // 校验验证码
            const sendCaptchaUrl = contextPath + '/oauth/checkCaptcha';
            const captchaParam = 'key=' + data.field.captchaKey + '&code=' + data.field.captchaCode;
            const captchaResponseData = loadingAjaxJsonData('get', sendCaptchaUrl, captchaParam);
            if (captchaResponseData.code !== 200) {
                layer.alert(captchaResponseData.msg, {icon: 5});
                refreshCaptcha();
                return false;
            }
            return true;
        });
    });

    function refreshCaptcha() {
        const url = contextPath + '/oauth/captcha';
        const param = 'type=arithmetic';
        const data = loadingAjaxJsonData('get', url, param);
        const captchaData = data.data;
        $("#captchaKey").val(captchaData.key);
        $("#captchaImg").attr("src", captchaData.data);
    }
</script>
</body>
</html>
