html, body {
    background: url("/images/background.jpg") top center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}
img {
    cursor:pointer;
}
.login-main {
    position: absolute;
    width: 600px;
    height: 50%;
    right: 6%;
    top: 25%;
    z-index: 9999;
}
.login-title {
    text-align: center;
    font-weight: bold;
    font-family: fangsong;
    font-size: 30px;
    margin-top: 5%;
}
.login-form {
    margin-left: 120px;
    margin-top: 40px;
}
.login-button {
    width:75%;
    text-align: center;
}

.login-card {
    border: 1px #c7c7c7 solid;
    border-top: 3px solid #1890ff;
    border-radius:6px !important;
    width: 100%;
}

.login-form .login-form-line {
    display: inline-block;
    float: left;
    text-align: center;
    margin-left: -1px;
}
.login-form .login-form-line-img {
    display: inline-block;
    float: left;
    text-align: center;
}


